#navbar {
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0);
    border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;

    position: fixed;
    top: 0;
    width: 100%;
}

.wrapper {
    height: 96px;
    width: 75%;
    min-width: 320px;
    max-width: 800px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
    gap: 24px;
}

.wrapper>* {
    flex-grow: 0;
}

#navbar a {
    text-decoration: none;
    color: var(--color-text-primary);
    font-size: 16.00px;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#button {
    background: none;
}

#content {
    margin: auto;
    margin-top: 96px;
    width: 75%;
    max-width: 960px;
    min-width: 320px;
    display: block;

}

.extraHeadline {
    padding-top: 144px;
    padding-bottom: 144px;
    font-size: 72px;
    text-align: center;
}
