/* Typefaces */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@200...700&display=swap');

@font-face {
    src: url('fonts/HelveticaNowVar.woff2') format('woff2-variations');
    font-family: 'Helvetica Now Var';
    font-style: normal;
}

* {
    font-family: "Helvetica Now Var", "SF Pro", "Noto Sans SC", -apple-system, "Helvetica Neue", sans-serif;
    font-optical-sizing: auto;
    font-smooth: auto;
    word-wrap: break-word;
    
}

/* Default Colors */

:root {
    --color-text-primary: rgba(255, 255, 255, 0.95);
    --color-text-secondary: rgba(255, 255, 255, 0.65);
    --color-text-tetiary: rgba(255, 255, 255, 0.35);

    --color-background: rgba(16, 16, 18, 1);
}

html {
    /*background: var(--color-background);*/
    background-color:hsla(167,0%,0%,1);
    background-image:
    radial-gradient(at 32% 70%, hsla(228,100%,15%,1) 0px, transparent 50%),
    radial-gradient(at 26% 27%, hsla(246,100%,15%,1) 0px, transparent 50%),
    radial-gradient(at 6% 74%, hsla(100,100%,15%,1) 0px, transparent 50%),
    radial-gradient(at 57% 38%, hsla(228,100%,15%,1) 0px, transparent 50%),
    radial-gradient(at 41% 63%, hsla(290,100%,15%,1) 0px, transparent 50%),
    radial-gradient(at 72% 84%, hsla(228,100%,15%,1) 0px, transparent 50%),
    radial-gradient(at 73% 63%, hsla(137,100%,15%,1) 0px, transparent 50%);
    color: var(--color-text-primary);
}

body {
    margin: auto;
}

hr {
    margin-top: 16px;
    margin-bottom: 16px;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.5);
}

.extraHeadline {
    font-weight: 200;
}

.footer {
    font-size: 16px;
    font-weight: 200;
    text-align: center;
}