/* Typrfaces */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400...700&display=swap');

@font-face {
    src: url('fonts/HelveticaNowVar.woff2') format('woff2-variations');
    font-family: 'Helvetica Now Var';
    font-style: normal;
}

@font-face {
    src: url('fonts/HelveticaNowVar-Italic.woff2') format('woff2-variations');
    font-family: 'Helvetica Now Var';
    font-style: italic;
}

* {
    font-family: "Helvetica Now Var", "SF Pro", "Noto Sans SC", -apple-system, "Helvetica Neue", sans-serif;
    font-optical-sizing: auto;
}

/* Default Colors */

:root {
    --color-text-primary: rgba(255, 255, 255, 0.95);
    --color-text-secondary: rgba(255, 255, 255, 0.65);
    --color-text-tetiary: rgba(255, 255, 255, 0.35);

    --color-background: rgba(0, 0, 16, 1);
}

html {
    background-color: hsla(107, 0%, 0%, 1);
    background-image:
        radial-gradient(at 34% 59%, hsla(245, 98%, 12%, 1) 0px, transparent 50%),
        radial-gradient(at 7% 88%, hsla(78, 76%, 12%, 1) 0px, transparent 50%),
        radial-gradient(at 75% 96%, hsla(299, 67%, 12%, 1) 0px, transparent 50%),
        radial-gradient(at 16% 58%, hsla(152, 93%, 12%, 1) 0px, transparent 50%),
        radial-gradient(at 59% 16%, hsla(250, 89%, 12%, 1) 0px, transparent 50%),
        radial-gradient(at 70% 93%, hsla(211, 83%, 12%, 1) 0px, transparent 50%),
        radial-gradient(at 5% 50%, hsla(146, 62%, 12%, 1) 0px, transparent 50%);
    color: var(--color-text-primary);
}

body {
    margin: auto;
}
